<%- layout("template1")%>
<div class="row">
    <div class="col-lg-3">
        <h3>People <small style="color: lightgreen;" id="online"></small></h3>
        <div id="users">
            <ol>
                <li>Jimoh</li>
                <li>Jimoh</li>
                <li>Jimoh</li>
                <li>Jimoh</li>
            </ol>
        </div>
    </div>
    <div class="col-lg-9"></div>
</div>