<%- layout('template3.ejs') %>
<!-- Header -->
<div class="clearfix">
</div>
<div class="container" style="margin-bottom: 121px;">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 well" style="background: lightseagreen">
            <h4 class="alert alert-success text-center"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Singup Successful</h4>
            <div class="intro-text">
                <h5 class="text-center">Login and start chatting with developers</h5>
                <hr class="star-light">
                <p class="text-center">
                    <a href="#portfolioModal7" data-toggle="modal" class="text-center portfolio-link btn btn-lg btn-outline">
                        <i class="fa fa-user"></i> Login Now
                    </a>
                </p>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>