# Created by .ignore support plugin (hsz.mobi)
.idea/
node_modules/
playground/
.xml
*.env

 # Node build artifacts
npm-debug.log

# Local development
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

public/uploads/jim
public/uploads/jimo
public/uploads/johadi10
public/uploads/picture1
public/uploads/picture2
public/uploads/profile_pictures/*
