MONGODB_URI = mongodb://127.0.0.1/jochat or preferred database url
PORT = 5000 or your preferred port
CLOUDINARY_API_KEY = your cloudinary api key
CLOUDINARY_API_SECRET = your cloudinary ap secret
CLOUDINARY_CLOUD_NAME = your cloudinary cloud name
GEOCODER_API_KEY = your geocoder api key
GEOCODER_PROVIDER = your geocoder provider
