<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from getbootstrap.com/examples/jumbotron/ by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 02 Oct 2013 12:14:30 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test</title>
    <link href="/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/emoji-picker-master/lib/css/emoji.css" rel="stylesheet">

    <script>
        //        const SMILES_MAP = {
        //            ':)': '<img src="/images/smiley22.png">',
        //            ':0': '<img src="/images/smiley1.jpg">'
        //        };
        //        function buildMessage(message) {
        //            let smiles = Object.keys(SMILES_MAP);
        //            smiles.forEach(smile => message = message.replace(smile, SMILES_MAP[smile]));
        //            return message;
        //        }
        //          //$('#smileys').html('Hello');
        //          jQuery(document).ready(function(){
        //              var message=buildMessage("Hello there :)"); // Returns "Hello there http://link-to-smiley.png"
        //              var p=jQuery('<p></p>').css('border','5px solid red').html(message);
        //              $('#smileys').append(p);
        //          });

    </script>

</head>

<body class="text-center">
<!--<h2>Smiley Testing</h2>-->
<!--<a href="#"><img src="/images/smiley44.png"></a>-->
<!--<div id="smileys"></div>-->
<h1>Welcome Jimoh</h1><!--https://github.com/one-signal/emoji-picker-->

<div class="container">
    <p class="text-success"><%=chat%></p>
</div>
</body>

<!-- Mirrored from getbootstrap.com/examples/jumbotron/ by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 02 Oct 2013 12:14:30 GMT -->
</html>
